.navbar {
    margin: 0;
    height: auto;
    background-color: white;
    border-bottom: 2px solid #F3F3F3;
    width: 100%;
    border-radius: 0;    
    .container {
        display: flex;
        flex-wrap: nowrap;
        .navbar-start {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .navbar-search {
                position: relative;
                .fa-search {
                    position: absolute;
                    top: 7px;
                    left: 9px;
                    font-size: 20px;
                }
                input {
                    border-radius: 10px;
                    outline: 0;
                    box-shadow: 0;
                    padding: 10px 25px;
                    background: white;
                    border: solid 1px #e6e6e6;
                    border-bottom-width: 3px;
                    border-radius: 5px;
                    line-height: 10px;
                    transition: all .8s ease;
                    text-indent: 15px;
                    &:focus {
                        padding-right: 150px;
                        transition: all .8s ease;
                    }
                }
            }
        }
        .navbar-end {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .navbar-item {
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                padding: 10px;
                cursor: pointer;
                font-weight: 500;
                font-size: 1.4rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                border-bottom: 1px solid transparent;
                height: 100%;
                margin: 0 10px;
                &:hover {
                    color: $navbar_primary;
                    border-color: $navbar_primary;
                }
                &.active-item {
                    border-color: $navbar_secondary;
                    border-width: 2px;
                    color: $navbar_primary;
                }
            }
        }
    }
}