
/* colors */
$background-color: #F2F5F7;
$navbar_primary: #0984e3; /* hover */
$navbar_secondary: #2980b9; /* active */
$text-blue: #3b4d5e;
$box-border-color: #ECEFF1;
$secondary-text: #6a737c;

/* spacing */
$home-margin: 50px;
$profile-margin: 20px;

/* sizes */
$navbar-size: 65px;
$profile-img-size: 180px;