.home-container {
    .home-header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 30px;
        .home-book-box {
            height: 250px !important;
            -webkit-box-shadow: 0px 10px 49px -4px rgba(0,0,0,.35);
            -moz-box-shadow: 0px 10px 49px -4px rgba(0,0,0,.35);
            box-shadow: 0px 10px 49px -4px rgba(0,0,0,.35);
            transition: all .5s ease-in-out;            
            &:hover {
                transition: all .5s ease-in-out;
                flex: 5;
            }
        }
        :not(:first-child):not(:last-child) {
            margin: 0 15px;
            border-radius: 20px;
            flex: 4;
            .home-book-box-content {
                padding: 30px 20px 20px 20px;
            }
            transition: all .5s ease-in-out;            
            &:hover {
                transition: all .5s ease-in-out;
                flex: 5;
            }
            // .home-book-btn {
            //     margin-top: 20px;
            // }
        }
        :first-child {
            margin-right: 10px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            flex: 3;
            .home-book-box-content {
                padding: 30px 20px 20px 0;
            }
            transition: all .5s ease-in-out;            
            &:hover {
                transition: all .5s ease-in-out;
                flex: 5;
            }
        }
        :last-child {
            margin-left: 10px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            flex: 3;
            .home-book-box-content {
                padding: 30px 20px 20px 0;
                text-align: left;
            }
        }
    } 
}

.box-purple {
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #BCB0FE, #C1B7FB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #BCB0FE, #C1B7FB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .home-book-img {
        -webkit-box-shadow: 4px 14px 41px -7px #705BED;
        -moz-box-shadow: 4px 14px 41px -7px #705BED;
        box-shadow: 4px 14px 41px -7px #705BED;
    }
    .box-star {
        color:  rgb(169, 153, 255);
        text-shadow: none;        
    }
    .home-book-btn {
        color: #BCB0FE;
        transition: all .3s ease-in-out;     
        &:hover {
            background-color: #705BED !important;
            color: white; 
            transition: all .3s ease-in-out;
            border-radius: 40% !important;
        }
        &:active {
            background-color: black !important;
        }
    }
}

.box-red {
    background: #f4c4f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FAA8B3, #FECFD1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FAA8B3, #FECFD1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .home-book-img {
        -webkit-box-shadow: 4px 14px 41px -7px #FD7589;
        -moz-box-shadow: 4px 14px 41px -7px #FD7589;
        box-shadow: 4px 14px 41px -7px #FD7589;
    }
    .box-star {
        color:  #F8A0AC;
        text-shadow: none;        
    }
    .home-book-btn {
        color: #FAA8B3;
        transition: all .3s ease-in-out;        
        &:hover {
            background-color: rgb(255, 147, 162) !important;
            color: white; 
            transition: all .3s ease-in-out;
            border-radius: 40% !important;
        }
        &:active {
            background-color: black !important;
        }
    }
}

.box-blue {
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #C1E8FE, #96D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #C1E8FE,#96D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .home-book-img {
        -webkit-box-shadow: 4px 14px 41px -7px rgba(73,151,195,1);
        -moz-box-shadow: 4px 14px 41px -7px rgba(73,151,195,1);
        box-shadow: 4px 14px 41px -7px rgba(73,151,195,1);
    }
    .box-star {
        color:  #88D0FF;
        text-shadow: none;
    }
    .home-book-btn {
        color: rgb(175, 226, 255);
        transition: all .3s ease-in-out;        
        &:hover {
            background-color: rgb(108, 194, 252) !important;
            color: white; 
            transition: all .3s ease-in-out;
            border-radius: 40% !important;
        }
        &:active {
            background-color: black !important;
        }
    }
}


.home-book-box-content {
    display: flex;
    color: white;

    height: 100%;
    .left-side {
        flex: 2;
        .home-book-img {
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('https://marketplace.canva.com/MAB___U-clw/1/0/thumbnail_large/canva-yellow-lemon-children-book-cover-MAB___U-clw.jpg');
            transform: translateY(0);
            transition: .3s;            
            &:hover {
                transform: translateY(-10px);
                transition: .3s;
            }
        }

    }
    .right-side {
        flex: 3;
        
        .home-book-title-box {
            .home-book-title {
                font-size: 1.2rem;
                font-weight: 700;
                text-align: left;
            }
        }
        .home-book-author {
            font-size: .9rem;
            text-align: left;
            padding: 10px 0;
            width: 100%;
            margin-left: 10px !important;
            span {
                color: whitesmoke;
                font-weight: 600;
            }
        }
        .home-book-rating {
            margin: 0;
            .box-star {
                display: inline-block;
                margin: 0;
                padding: 2px;
                // width: 100%;
                &.box-star-active {
                    color: white !important;
                    text-shadow: 1px 1px 1px rgba(255, 255, 255, .5), -1px -1px  1px rgba(255, 255, 255, .5);
                }
            }
            
        }
        .home-book-btn {
            margin-top: 5px;
            padding: 10px 0;
            width: 90%;
            border: none;
            border-radius: 30px;
            background-color: white;
            font-size: 1rem;
            font-weight: 700;
            outline: none;
            :hover {
                color: white;
            }
        }
    }
}

.home-body {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: 240px auto;
    .right-side-container {
        .book-list {
            display: grid;
            grid-template-columns: 50% 50%;
            .book-box {
                padding: 10px;
                height: 256px;
                margin-top: 14px;
                width: 442px;
                margin-bottom: 120px;
                background-color: white;
                border: 2px solid #ECEFF1;
                border-radius: 10px;
                box-shadow: 0px 5px 5px -5px rgba(0,0,0,.35);
                display: grid;
                grid-template-columns: 40% auto;
                grid-template-rows: 90% auto;
                .likes {
                    border-top: 1px solid #CFCFCF;
                    display: flex;
                    align-items: center;
                    color: rgb(167, 167, 167);
                }
                .right-side {
                    display: grid;
                    grid-template-rows: 5% 25% 15% 15% auto;
                    margin-left: 20px;
                    .settings {
                        text-align: right !important;
                        color: rgba(0,0,0,.45);
                        width: auto;
                        i {
                            padding: 5px;
                            &:hover {
                               cursor: pointer; 
                            }
                        }
                    }
                    .title {
                        font-size: 1.3rem;
                        color: #576574;
                        font-weight: 500;
                    }
                    .author {
                        font-size: .9rem;
                        color: #6a737c;
                        font-weight: 500;
                    }
                    .rating {
                        .box-star-active {
                            color: goldenrod !important;
                        }
                        .box-star {
                            color: #CFCFCF;
                        }
                    }
                    .description {
                        font-size: .9rem;
                        color: #34495e;
                        letter-spacing: 0.1px;
                        font-weight: 300;
                        width: 100%;
                        overflow: hidden;
                        width: 100%;    
                        text-overflow: ellipsis;
                        -ms-text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 4; /* number of lines to show */
                        line-height: 1.2rem;        /* fallback */
                        max-height: calc(1.2rem*4);
                        * {
                            text-overflow: ellipsis;
                        }
                    }
                }
                .left-side {
                    display: flex;
                    justify-content: center;
                    .image {
                        // margin: 10px;
                        height: 256px;
                        margin-left: 5px;
                        margin-top: -70px;
                        -webkit-box-shadow: -3px 5px 23px -5px rgba(0,0,0,0.61);
                        -moz-box-shadow: -3px 5px 23px -5px rgba(0,0,0,0.61);
                        box-shadow: -3px 5px 23px -5px rgba(0,0,0,0.61);
                    }
                }
            }
        }
    }
}

.secondary-nav {
    margin-bottom: $home-margin * 2;
    // border-bottom: 1px solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E6EAED;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    .secondary-nav-start {
        font-size: 1.3rem;
        color:  #3b4d5e;
        padding-bottom: 10px;
    }
    .secondary-nav-end {
        display: flex;
        justify-content: center;
        align-items: center;
        .navbar-item {
            // flex: 1;
            padding: 15px;
            margin: 0 10px 0 10px;
            text-decoration: none;
            color: #969CA2;
            font-size: 1rem;
            font-weight: 500 !important;
            height: 100%;
            border: 1px solid transparent;
            word-wrap: none !important;
            &:hover, &:hover &:not(.active-secnav) {
                color: $navbar_primary;
                // border-bottom: 1px solid;
                border-bottom-style: solid;
                border-bottom-color: $navbar_secondary;
            }
            &:active, &.active-secnav {
                color: $navbar_primary;
                position: relative;
                border: none;
                &:before {
                    content : "";
                    position: absolute;
                    left    : 25%;
                    bottom  : -1px;
                    height  : 1px;
                    width   : 50%;  /* or 100px */
                    -webkit-box-shadow: 0px -4px 31px 0px $navbar_primary;
                    -moz-box-shadow: 0px -4px 31px 0px $navbar_primary;
                    box-shadow: 0px -4px 31px 0px $navbar_primary;
                    border-bottom-width: 3px;
                    border-bottom-style: solid;
                    border-bottom-color: $navbar_primary !important;
                    // border-bottom:1px solid magenta;
                  }
            }
        }
    }
}

.side-section {
    &:not(:first-child) {
        margin-top: $home-margin * 1.5;
    }
    .side-section-title {
        font-size: 1.3rem;
        color:  $text-blue;
        padding-bottom: 10px;
    }
    .side-section-user {
        padding: 5px 0;
        display: flex;
        // justify-content: center;
        align-items: center;
        color: $text-blue;
        font-weight: 600;
        .side-section-user-img {
            height: 50px;
            width: 50px;
            margin-right: 10px;
            border-radius: 100%;
            background: url('https://www.andrew-mason.com/wp/wp-content/uploads/2017/04/Corporate-Portrait-Photography-2.jpg');
            background-size: cover;
            background-position: center;
        }
    }

    .side-section-book {
        padding: 5px 0;
        display: flex;
        // align-items: center;
        .side-section-book-img {
            margin-right: 10px;
            height: 100px;
            width: 50px;
            background: url('https://about.canva.com/wp-content/uploads/sites/3/2015/01/creative_bookcover.png');
            background-size: cover;
            background-position: center center;
        }
        .side-section-book-details {
            display: grid;
            grid-template-rows: 60% auto;
            .side-section-book-title {
                color: $text-blue;
                font-size: 1.2rem;
                font-weight: 500;
            }
            .side-section-book-author {
                font-size: .9rem;
                color: #6a737c;
            }
        }
    }
    
}

.book-links {
    text-align: center;
    margin-top: -$home-margin*1.5;
    a {
        padding: 10px 12px;
        margin: 0 5px;
        border-radius: 2px;
        background: white;
        border: 2px solid $box-border-color;
        font-weight: 600;
        color: $secondary-text;
        &:hover {
            cursor: pointer;
            background-color: rgba($color: $secondary-text, $alpha: .1)
        }
        &.page-active {
            color: $navbar_primary;
        }
    }
}