.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1250px;
  }
}
.box {
  background-color: white;
  border: 2px solid $box-border-color;
  border-radius: 10px;
  padding: 10px;
}

footer {
  height: 200px;
  background-color: #1B1B1B;
  padding: $footer-padding;
  color: white;
  .container {  
    display: grid;
    grid-template-rows: 10% auto;
    height: 90%;
    .logo-container {
      display: flex;
      justify-content: center;
      .logo {
        height: 60px;
        width: 60px;
        border-radius: 100%;
        background-color: #5A5A5A;
        margin-top: - 2 * $footer-padding - 10px;
        border: 5px solid whitesmoke;
        .circle {
          transform: translate(0%, 0%);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          &:hover {
            ul {
              transform: scale(1); 
              box-shadow: 0 0 0 2px #1b3646, 0 0 0 4px #fff, 0 5px 30px rgba(0, 0, 0, 1);
              opacity: 1;                       
            }
          }
          ul {
            position: absolute;
            top: -50px;
            left: -50px;
            margin: 0;
            padding: 0;
            width: 150px;
            height: 150px;
            background: #fff;
            border-radius: 50%;
            transition: .5s;
            box-shadow: 0 0 0 2px #1b3646, 0 0 0 4px #fff;
            transition: 1s;
            transform: scale(.3) rotate(-180deg);
            z-index: -1;
            opacity: 0;
            &::before {
              content: '';
              position: absolute;
              top: calc(50% - 1px);
              left: 0;
              width: 100%;
              height: 2px;
              background: #112833;
              transform: rotate(45deg);
            }
            &::after {
              content: '';
              position: absolute;
              top: calc(50% - 1px);
              left: 0;
              width: 100%;
              height: 2px;
              background: #112833;
              transform: rotate(-45deg);
            }
            li {
              position: absolute;
              list-style: none;
              &:nth-child(1) {
                top: 15px;
                left: 50%;
                transform: translateX(-50%)
              }
              &:nth-child(2) {
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%)
              }
              &:nth-child(3) {
                top: 50%;
                right: 15px;
                transform: translateY(-50%)
              }
              &:nth-child(4) {
                top: 50%;
                left: 15px;
                transform: translateY(-50%)
              }
              a {
                .fa {
                  transition: .5s;
                  color: #112833;
                }
              }
              &:hover {
                a {
                  .fa {
                    color: $navbar-primary;
                    transform: scale(1.5);
                  }
                }
              }
            }
          }
          .share {
            position: relative;
            width: 100%;
            height: 100%;
            line-height: 50px;
            text-align: center;
            background: whitesmoke;
            border-radius: 50%;
            z-index: 1;
            box-shadow: 0 0 0 2px #112833;
            i {
              color: #112833 !important;              
            }
          }
        } 
      }
    }
    .footer-body {
      display: flex;
      text-align: center;
      * {
        width: 50%;
        color: #5A5A5A;
        font-size: 1.1rem;
        // border-top: 1px solid #5A5A5A;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .left-side {
        border-right: .5px solid #5A5A5A;
      }
      .right-side {
        border-left: .5px solid #5A5A5A;       
      }
    }
  }
}